<% include partials/header %>

<div id='display' class="row">
    <div class="col-6 text-left p-0">
        <span class='pointer' id="back">
            <i class="fas fa-chevron-circle-left"></i>   
        </span>
    </div>
    <div class="col-6 text-right p-0">
        <span class='pointer' id='next'>
            <i class="fas fa-chevron-circle-right"></i>
        </span>  
    </div>
</div>

<% include partials/footer %>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS('.btnClip');
</script>
